<mat-card>

  <mat-card-header>
      
  <mat-card-title>products</mat-card-title>
    <div style="align-items: center;display: flex;flex-wrap: wrap;" >
      <app-input 
      icon="search" 
      placeHolder="search here...." 
      (keyUpEvent)="applyFilter($event)"  
      #test > 
      </app-input>
      <app-button 
      text="Create New" 
      (btnClick)="openDialogCreate()" 
      color="primary" 
      prefixIcon="add">
      </app-button>
    </div>
  </mat-card-header>

  <mat-card-content  class="mat-card-content">
     <app-table2
              [hasAction]="hasAction"
              [filterValue]="filterValue"
              idField="productId"
              [Dialog]="dialog"
              [dialogData]="dialogProduct"
              [Items]="dropdownItems"
              [sortActive]="sortActive"
              [endpoint]="product" 
              [dataSource]="ProDataSource" 
              [displayedColumns]="ProDisplayedColumns">
    </app-table2>
  </mat-card-content>

</mat-card>